# This workflow will build a Java project with Gradle, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-Gradle

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  android:
    timeout-minutes: 30
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'adopt-hotspot'
          cache: Gradle
      - name: Build with Gradle
        run: ./gradlew build
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt-hotspot'
          cache: Gradle
      - name: run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          script: ./gradlew cAT
      - name: print test output
        run: find . -name 'logcat*' -print0 | xargs -0 cat
        if: always()
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: robinraju/release-downloader@v1.6
        with:
          repository: "sniffy/archived-jdks"
          tag: "jdk-1_5_0_22-linux-i586.bin"
          fileName: "jdk-1_5_0_22-linux-i586.bin"
      - name: install lib32z1
        run: sudo apt-get install -y lib32z1
      - name: install JDK
        run: chmod +x ./jdk-1_5_0_22-linux-i586.bin && yes | ./jdk-1_5_0_22-linux-i586.bin
      - name: list files
        run: ls -la
      - name: Java 5 version
        run: ./jdk1.5.0_22/bin/java -version

      - uses: robinraju/release-downloader@v1.6
        with:
          repository: "sniffy/archived-jdks"
          tag: "j2sdk-1_4_2_19-linux-i586.bin"
          fileName: "j2sdk-1_4_2_19-linux-i586.bin"
      - name: install JDK
        run: chmod +x ./j2sdk-1_4_2_19-linux-i586.bin && yes | ./j2sdk-1_4_2_19-linux-i586.bin

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: Gradle
      - name: Build with Gradle
        run: ./gradlew build -Djdk5.home=./jdk1.5.0_22 -Djdk4.home=$(pwd)/j2sdk1.4.2_19
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: Gradle
      - name: Build with Gradle
        run: ./gradlew build
      - name: Set up JDK 8 J9
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'adopt-openj9'
          cache: Gradle
      - name: Build with Gradle
        run: ./gradlew build
      - name: Set up JDK EA
        uses: oracle-actions/setup-java@v1
        with:
          website: jdk.java.net
          release: EA
      - name: Build with Gradle
        run: ./gradlew build

      - uses: graalvm/setup-graalvm@v1
        with:
          version: '22.3.0'
          java-version: '19'
          components: 'native-image'
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Example step
        run: |
          echo "GRAALVM_HOME: $GRAALVM_HOME"
          echo "JAVA_HOME: $JAVA_HOME"
          java --version
          gu --version
          native-image --version
      - name: Build with Gradle
        run: ./gradlew nativeTest

      # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
      # TODO: do we still need it with Gradle ?
      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
